/*default overrides and main container*/
body{
	overflow:hidden;
	margin : 0;
	background-color: #E90006;
	width:100%;
	height:100%;
}
hr {border-top: 1px solid white;}
#body{
	overflow:hidden;	
}
#vis-container{
	margin : 0;
	position: relative;
}

/*--Layout and positioning of canvas UI- zoom buttons, filter; styling and tweaks to position needed*/
#title { position: absolute; top: 0px; width: 100%; text-align: center; color: white;}
#left-sidebar,#right-sidebar{
	background-color: #E90006; 
	color: white;
	position:absolute;
	top:0;
	bottom:0;
	transition: all 0.5s linear;
	overflow: scroll;
}
#left-sidebar{
	left:0;
}
#right-sidebar{ 
	width:260px;
	right:0;
	padding: 10px;
	border-left:dashed;
	border-width: 1px; 
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

#nav_controls{
	width:30px;
	position:absolute;
	bottom:0;
	text-align:center;
	transition: all 0.5s linear;
}
.a_btn{color:white;}
.a_btn:hover {
    color: #0056b3;
    text-decoration: none;
}

.a_btn_modal{color:black;}
.a_btn_modal:hover{
    color: blue;
    text-decoration: none;
}

/*--Sample overlay- modify and rename these as you wish--//*/
.h-border-left, .h-border-right, .h-border{		/*border definitions- change or remove to fit main site*/
	border-width: 50px;
    border-image:url(../images/line_h_border.svg);
	border-image-repeat: repeat;
	border-image-slice: 30;
}
.h-border-left{
	border-left-style: solid;
}
.h-border-right{
	border-right-style: solid;
}

/*--Modal window--*/
#questions_modal_container,
#message_modal_container{
    position: absolute;
    max-width: 800px;
    max-height: 550px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
}
.modal_window {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}
.modal_menu{
	background-color: #fff;
	color: #666e75;
	width: 100%;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.2s linear;
}
.fadeOut {
    opacity: 0;
    transition: opacity 0.2s linear;
}
